.idea
.vscode

groovy-menu.zip
groovy-menu*.tgz
/package-lock.json
/composer.lock

/wordpress/
/build/
maps
/groovy-menu/assets/
/node_modules/
/vendor/
/src/js/compiled/

zip_modules

Bundle/FILES/*.zip
Bundle/groovy-menu_package/*.zip
