.npmignore
.stylelintrc
.gitignore
.eslintrc
.babelrc
*.log
npm-debug.log*

webpack.config.js
gulpfile.js
package-lock.json
composer.json
composer.lock
deploy*.sh
build*.php

.idea
node_modules
src
Bundle
groovy-menu/*
!groovy-menu/assets
vendor
wordpress
groovy-menu*.zip
groovy-menu*.tgz
