.gm-dashboard__integration {
  .gm-dashboard-body-section {
    border-bottom: dashed 1px #bbb;
    padding-bottom: 12px;

    label {
      margin-right: 5px;
    }

    .gm-integration-button {
      margin-top: 15px;
    }
  }
}
