#toplevel_page_groovy_menu_settings .dashicons-admin-generic::before,
#toplevel_page_groovy_menu_welcome .dashicons-admin-generic::before {
  content: '';
  background-image: url('../images/groovy.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#gm-need-license-notice {
  display: grid;
  grid-column-gap: 12px;
  grid-template-columns: auto 1fr;
}

.gm-notice-column-img {
  margin: 12px 0 12px 0;
}

#gm-need-license-notice .gm-need-license-text-block {
  margin: 2px 0 2px 0;
  padding: 0 0 0 0;
}

#gm-need-license-notice .gm-need-license-text-block--buttons {
  margin: 12px 0 2px 0;

  a {
    margin: 0 6px 0 0;
  }
}

#groovy_menu_metabox .groovy-meta-box-item--select select {
  width: 204px;
  max-width: 204px;
}

@font-face {
  font-family: 'groovy-gui';
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src: url("../fonts/groovy-gui.woff") format("woff");
}

#toplevel_page_groovy_menu_welcome li:last-child {
  position: relative;
  a {
    padding-left: 35px !important;
  }
  &::after {
    position: absolute;
    left: 14px;
    top: 5px;
    color: #f9b000;
    font-size: 14px;
    text-transform: none;
    font-family: 'groovy-gui' !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none;
    content: "\e900";
  }
}

.et-db #et-boc .et-l .et-fb-modules-list ul > li.grooni_groovymenu::before,
.et-db #et-boc .et-l .et-fb-modules-list ul > li.grooni_groovymenu_fullwidth::before {
  content: '';
  display: block;
  height: 16px;
  background-image: url('../images/gm-logo.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

tr.groovy-menu-fields.term_meta__custom_options__field {
  background: #448aff;

  th {
    color: #ffffff;
    border: 1px solid #448aff;
    padding: 24px 6px 24px 20px;
  }

  td {
    color: #252525;
    background: #ffffff;
    border: 1px solid #448aff;
  }
}
