/***********************************
DROPDOWN HOVER STYLES
***********************************/

.gm-dropdown-hover-style-shift-right,
.gm-dropdown-hover-style-shift-right ~ .gm-main-menu-wrapper:not(.gm-second-nav-drawer) {
  .gm-dropdown-menu .gm-menu-item:hover > .gm-anchor .gm-menu-item__txt-wrapper,
  .gm-dropdown-menu .gm-menu-item.gm-open > .gm-anchor .gm-menu-item__txt-wrapper {
    transform: translateX(25px);
  }

  .gm-dropdown-menu .gm-menu-item:hover > .gm-menu-item__link::before,
  .gm-dropdown-menu .gm-menu-item.gm-open > .gm-menu-item__link::before {
    visibility: visible;
    opacity: 1;
  }

  .gm-dropdown-menu .gm-menu-item__link {
    &::before {
      position: absolute;
      left: 15px;
      display: inline-block;
      visibility: hidden;
      content: '\f178';
      transition: all linear 0.1s;
      transform: translateX(0);
      opacity: 0;
      font: normal normal normal 16px/1 FontAwesome;
      font-size: inherit;
      line-height: inherit;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-rendering: auto;
    }
  }

  .mega-gm-dropdown .gm-dropdown-menu .gm-menu-item__link {
    &::before {
      left: 0;
    }
  }

  &.gm-dropdown-with-scrollbar {
    .gm-dropdown-menu .gm-menu-item > .gm-menu-item__link {
      &::before {
        left: 0;
      }
    }
  }

  &.gm-navbar--style-3,
  &.gm-navbar--style-5 {
    .gm-dropdown-menu .gm-menu-item > .gm-menu-item__link {
      &::before {
        left: 32px;
      }
    }
  }
}

[dir='rtl'] .gm-dropdown-hover-style-shift-right .gm-dropdown-menu,
[dir='rtl'] .gm-dropdown-hover-style-shift-right ~ .gm-main-menu-wrapper:not(.gm-second-nav-drawer) .gm-dropdown-menu {
  .gm-menu-item {
    overflow: hidden;
  }

  .gm-menu-item__link::before {
    content: '\f177';
  }
}

.gm-dropdown-appearance-fade-in-out .gm-main-menu-wrapper:not(.gm-second-nav-drawer) .gm-dropdown,
.gm-dropdown-appearance-fade-in-out.gm-second-nav-drawer .gm-dropdown,
.gm-dropdown-appearance-fade-in-out ~ .gm-main-menu-wrapper:not(.gm-second-nav-drawer) .gm-dropdown {
  &.gm-minicart .gm-dropdown-menu,
  .gm-dropdown-menu-wrapper,
  .gm-dropdown-menu-wrapper .gm-dropdown-menu {
    transition: opacity 0.16s cubic-bezier(1, 0, 1, 1), visibility 0.16s cubic-bezier(1, 0, 1, 1);
  }
}

.gm-dropdown-overlay {
  content: "";
  position: fixed;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: none;
  transition: background 170ms ease-in-out 0s;
}

.gm-navbar.gm-navbar-dropdown-opened ~ .gm-dropdown-overlay,
.gm-second-nav-drawer.gm-drawer--open ~ .gm-dropdown-overlay,
.gm-navbar.gm-navbar--style-2.gm-drawer--open ~ .gm-dropdown-overlay {
  left: 0;
  top: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: rgba(35, 35, 35, 0.7);
  opacity: 1;
}

.gm-dropdown-hover-style-fadein-link-color,
.gm-dropdown-hover-style-fadein-link-color ~ .gm-main-menu-wrapper:not(.gm-second-nav-drawer) {
  .gm-navbar-nav .gm-menu-item {
    transition: background-color 0.55s ease;
  }

  .gm-navbar-nav .gm-menu-item .gm-menu-item__link {
    transition: color 0.28s ease;
  }
}

.gm-dropdown-hover-style-shift-right.gm-navbar--style-2 ~ .gm-main-menu-wrapper .gm-dropdown-menu .gm-menu-item__link::before,
.gm-dropdown-hover-style-shift-right.gm-second-nav-drawer .gm-dropdown-menu .gm-menu-item__link::before {
  left: 32px !important;
}
