html,
body {
  position: relative;
}

.gm-navbar *,
.gm-main-menu-wrapper *,
.gm-navigation-drawer * {
  box-sizing: border-box;
}

.gm-navbar a,
.gm-main-menu-wrapper a,
.gm-navigation-drawer a {
  text-decoration: none;
  transition: none;
}

.gm-main-menu-wrapper {
  box-sizing: border-box;

  .menu-item {
    margin-bottom: 0;
  }

  .gm-navbar-nav {
    display: flex;
    justify-content: space-between;
  }
}

.gm-navbar {
  position: relative;
}

.gm-navbar ul,
.gm-main-menu-wrapper ul,
.gm-navigation-drawer ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.gm-navbar ul.gm-navbar-nav,
.gm-navbar ul.gm-navbar-nav > li,
.gm-navbar ul.gm-dropdown-menu,
.gm-navbar .gm-dropdown-menu-wrapper > ul,
.gm-navbar .gm-dropdown-menu-wrapper > ul > li,
.gm-navigation-drawer ul.gm-navbar-nav,
.gm-navigation-drawer ul.gm-navbar-nav > li,
.gm-navigation-drawer ul.gm-dropdown-menu,
.gm-navigation-drawer ul.gm-dropdown-menu > li,
.gm-navbar .gm-toolbar-socials-list,
.gm-navbar .gm-toolbar-socials-list > li {
  list-style: none;
  padding: 0 0 0 0;
  line-height: initial;
}

.gm-wrapper {
  z-index: 999;
}

.gm-navbar button,
.gm-main-menu-wrapper button {
  cursor: pointer;
}

.gm-menu-btn__inner {
  line-height: 1;
}

.gm-dropdown:not(.gm-open) .gm-dropdown-menu-wrapper {
  overflow: hidden;
}
