html,
body {
  position: relative;
}

.gm-navbar *,
.gm-main-menu-wrapper *,
.gm-navigation-drawer * {
  box-sizing: border-box;
}

.gm-navbar,
.gm-main-menu-wrapper,
.gm-navigation-drawer {
  a,
  a:hover,
  a:focus,
  a:active,
  a:visited {
    text-decoration: none;
    transition: none;
  }
}

.gm-main-menu-wrapper {
  box-sizing: border-box;

  .menu-item {
    margin-bottom: 0;
  }

  .gm-navbar-nav {
    display: flex;
    justify-content: space-between;
  }
}

.gm-navbar {
  position: relative;
}

.gm-navbar ul,
.gm-main-menu-wrapper ul,
.gm-navigation-drawer ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.gm-navbar ul.gm-navbar-nav,
.gm-navbar ul.gm-navbar-nav > li,
.gm-navbar ul.gm-dropdown-menu,
.gm-navbar ul.gm-dropdown-menu > li,
.gm-navbar ~ .gm-main-menu-wrapper .gm-dropdown-menu .gm-menu-item,
.gm-navbar .gm-dropdown-menu-wrapper > ul,
.gm-navbar .gm-dropdown-menu-wrapper > ul > li,
.gm-navigation-drawer ul.gm-navbar-nav,
.gm-navigation-drawer ul.gm-navbar-nav > li,
.gm-navigation-drawer ul.gm-dropdown-menu,
.gm-navigation-drawer ul.gm-dropdown-menu > li,
.gm-navbar .gm-toolbar-socials-list,
.gm-navbar .gm-toolbar-socials-list > li,
.gm-navbar .gm-plain-list-menu-wrapper > .gm-plain-list-menu {
  list-style: none;
  padding: 0 0 0 0;
  line-height: initial;
  position: initial;
}

.gm-wrapper {
  z-index: 999;
}

.gm-navbar button,
.gm-main-menu-wrapper button {
  cursor: pointer;
}

.gm-menu-btn__inner {
  line-height: 1;
}

.gm-dropdown:not(.gm-open) .gm-dropdown-menu-wrapper {
  overflow: hidden;
}

.gm-burger {
  margin-top: 8px;
  transition: margin 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);

  span {
    width: 30px;
    background: #000;
    position: relative;
    display: inline-block;
    height: 3px;
    vertical-align: bottom;
    transition: background 0.5s 0.3s;

    &::after,
    &::before {
      background: #000;
      position: absolute;
      height: 3px;
      content: "";
      left: 0;
    }

    &::before {
      width: 100%;
      border-radius: 0;
      transform: none;
      top: -18px;
      transform-origin: 50% 50%;
      transition: top 0.3s 0.5s, transform 0.3s;
    }

    &::after {
      width: 100%;
      top: -9px;
      transform-origin: 50% 50%;
      transition: top 0.3s 0.5s, transform 0.3s;
    }
  }
}

.gm-navigation-drawer--open .gm-burger > span {
  background: 0 0;

  &::before {
    top: -12px;
    transform: rotate3d(0, 0, 1, 45deg);
    transition: top 0.3s, transform 0.3s 0.3s;
  }

  &::after {
    top: -12px;
    transform: rotate3d(0, 0, 1, -45deg);
    transition: top 0.3s, transform 0.3s 0.3s;
  }
}
