.gm-grid-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.gm-grid-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.gm-navbar .grid,
.gm-navbar .grid-5,
.gm-navbar .grid-10,
.gm-navbar .grid-11,
.gm-navbar .grid-12,
.gm-navbar .grid-14,
.gm-navbar .grid-15,
.gm-navbar .grid-16,
.gm-navbar .grid-20,
.gm-navbar .grid-25,
.gm-navbar .grid-30,
.gm-navbar .grid-35,
.gm-navbar .grid-40,
.gm-navbar .grid-45,
.gm-navbar .grid-50,
.gm-navbar .grid-55,
.gm-navbar .grid-60,
.gm-navbar .grid-65,
.gm-navbar .grid-70,
.gm-navbar .grid-75,
.gm-navbar .grid-80,
.gm-navbar .grid-85,
.gm-navbar .grid-90,
.gm-navbar .grid-95,
.gm-navbar .grid-100,
.gm-navbar .grid-33,
.gm-navbar .grid-66,
.gm-navbar .mobile-grid,
.gm-navbar .mobile-grid-5,
.gm-navbar .mobile-grid-10,
.gm-navbar .mobile-grid-11,
.gm-navbar .mobile-grid-12,
.gm-navbar .mobile-grid-14,
.gm-navbar .mobile-grid-15,
.gm-navbar .mobile-grid-16,
.gm-navbar .mobile-grid-20,
.gm-navbar .mobile-grid-25,
.gm-navbar .mobile-grid-30,
.gm-navbar .mobile-grid-35,
.gm-navbar .mobile-grid-40,
.gm-navbar .mobile-grid-45,
.gm-navbar .mobile-grid-50,
.gm-navbar .mobile-grid-55,
.gm-navbar .mobile-grid-60,
.gm-navbar .mobile-grid-65,
.gm-navbar .mobile-grid-70,
.gm-navbar .mobile-grid-75,
.gm-navbar .mobile-grid-80,
.gm-navbar .mobile-grid-85,
.gm-navbar .mobile-grid-90,
.gm-navbar .mobile-grid-95,
.gm-navbar .mobile-grid-100,
.gm-navbar .mobile-grid-33,
.gm-navbar .mobile-grid-66 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
