/***************************************
NAVBAR GENERAL STYLES
***************************************/

.gm-navbar {
  .gm-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    transition: height 0.15s cubic-bezier(0.31, 1.04, 0.67, 0.91);
  }

  &.gm-navbar-fixed-sticky .gm-wrapper {
    position: fixed;
    transition: transform 0.05s ease;
  }

  .gm-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .gm-logo__no-logo {
    max-width: 120px;
    text-align: center;
  }

  .gm-logo__img {
    display: none;
    width: auto;
    max-width: none;
    max-height: none;
  }

  .menu-item {
    display: block;
    width: auto;
    max-width: inherit;
    height: auto;
    padding: inherit;
    margin: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: none;
  }

  .gm-menu-actions-wrapper {
    display: flex;
    margin: 0 24px;
  }

  &.gm-navbar-fixed-sticky .gm-inner .gm-container,
  &.gm-navbar-fixed-sticky .gm-inner .gm-navbar-nav {
    transition: height 0.42s cubic-bezier(0.31, 1.04, 0.67, 0.91);
  }
}

.gm-inner {
  position: relative;
  box-sizing: content-box;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  border-bottom-style: solid;

  .gm-container,
  .gm-navbar-nav {
    transition: height 0.15s cubic-bezier(0.31, 1.04, 0.67, 0.91);
  }
}

.gm-inner-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.2s;
}

.gm-navbar .gm-inner,
.gm-navbar .gm-inner-bg {
  width: 100%;
}

.gm-container {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
}

.gm-menu-empty {
  margin: auto 0 auto 0;
  text-align: center;
  width: 100%;
}

.gm-menu-item:not(.mega-gm-dropdown) {
  position: relative;
}

//Fix adminbar to top on mobile devices
@media (max-width: 600px) {
  #wpadminbar {
    position: fixed;
    transform: translateZ(0);
  }
}

.gm-dropdown:not(.gm-open) .gm-dropdown-menu-wrapper {
  pointer-events: none;
}

.gm-main-menu-wrapper {
  display: flex;
  align-items: center;

  .gm-actions {
    display: flex;
  }

  .gm-menu-item__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 15px 12px 0;
    white-space: initial;
    line-height: 1.4;
  }

  .menu-item-has-children .gm-menu-item__link {
    padding-right: 0;
  }

  .gm-navbar-nav > .gm-menu-item > .gm-anchor {
    display: flex;
    width: 100%;
    padding: 5px 0;
    line-height: 25px;
    align-items: center;
    justify-content: space-between;
  }

  .gm-anchor > .gm-caret,
  .gm-anchor:not(.gm-anchor--empty) {
    cursor: pointer;
  }

  .gm-anchor.gm-dropdown-toggle {
    cursor: pointer;
  }

  .gm-menu-item__txt-wrapper {
    transition: all 0.15s;
  }

  .gm-navbar-nav > li,
  .gm-search,
  .gm-minicart,
  .gm-minicart-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gm-minicart-link {
    color: inherit;
  }

  .gm-dropdown-menu-wrapper {
    top: 0;
  }

  .gm-dropdown-menu > li:last-of-type > .gm-anchor {
    border-bottom: none !important;
  }

  .gm-dropdown:not(.mega-gm-dropdown) {
    position: relative;
  }

  .gm-dropdown-menu,
  .gm-minicart-dropdown {
    visibility: hidden;
    opacity: 0;
  }

  .gm-open > .gm-dropdown-menu-wrapper,
  .gm-open > .gm-dropdown-menu-wrapper > .gm-dropdown-menu,
  .gm-open > .gm-dropdown-menu,
  .gm-open > .gm-minicart-dropdown,
  .gm-open > .gm-search-wrapper {
    visibility: visible;
    opacity: 1;
  }

  .gm-dropdown-menu {
    z-index: 1000;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: left;
  }

  .gm-dropdown-menu > .gm-menu-item {
    padding-right: 15px;
    padding-left: 15px;
  }

  .gm-nav-inline-divider {
    margin: 0 10px;
    width: 1px;
    height: 30px;
    align-self: center;
  }

  .gm-dropdown-menu--background {
    background-size: cover;
  }

  .gm-dropdown-menu-wrapper {
    position: absolute;
    left: 0;
    visibility: hidden;
  }

  .gm-menu-item__link:hover,
  .gm-menu-item__link:focus,
  .gm-dropdown-menu > .current-menu-ancestor > .gm-menu-item__link,
  .gm-dropdown-menu > .current-menu-ancestor > .gm-menu-item__link:hover,
  .gm-dropdown-menu > .current-menu-ancestor > .gm-menu-item__link:focus {
    outline: 0;
  }
}

.gm-navbar--style-4 .gm-menu-item--lvl-0 .gm-anchor .gm-menu-item__icon {
  transition: all 0.2s;
}

.gm-navbar--has-shadow:not(.gm-navbar-sticky-toggle) .gm-inner {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gm-navbar--has-shadow-dropdown .gm-dropdown-menu {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.gm-caret {
  position: relative;
  font-size: 16px;
  line-height: 1;
  -webkit-tap-highlight-color: transparent;
}

.gm-navbar.gm-navbar--hide-gm-caret .gm-navbar-nav > .gm-menu-item > .gm-anchor > .gm-caret {
  display: none;
}

.gm-menu-btn {
  cursor: pointer;
  align-items: center;
}

.gm-menu-item__txt-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.gm-menu-item > .gm-anchor > .gm-menu-item__txt-wrapper {
  display: flex;
}

/* bugfix: For sub-submenus that climb out of the right side of the screen and, on some WP Themes, they call the horizontal scroll of the browser when opening the first level submenu. */
.gm-navbar {
  .gm-navbar-nav > .gm-dropdown:not(.gm-opened-before) .gm-dropdown-menu-wrapper {
    display: block;
    visibility: hidden;
  }
  .gm-navbar-nav > .gm-dropdown:hover .gm-dropdown-menu-wrapper {
    display: block;
    visibility: visible;
  }
  .gm-navbar-nav > .gm-dropdown .gm-dropdown-menu .gm-dropdown-submenu:not(.gm-opened-before) .gm-dropdown-menu-wrapper {
    display: block;
    visibility: hidden;
  }
  .gm-navbar-nav > .gm-dropdown .gm-dropdown-menu .gm-dropdown-submenu:hover > .gm-dropdown-menu-wrapper {
    display: block;
    visibility: visible;
  }
}

.gm-mobile-postwrap {
  display: none;
}

.gm-main-menu-wrapper .gm-custom-dropdown-width > .gm-dropdown-menu > .gm-menu-item.menu-item-object-gm_menu_block {
  padding: 0;
}

/* ------------------------------------ Mobile menus Slider Style */

.gm-navigation-drawer--mobile:not(.gm-transition-work) {
  .gm-item-hidden {
    display: none;
  }
}

.gm-navigation-drawer--mobile:not(.gm-mobile-submenu-style-slider) {
  .gm-dropdown-menu-title {
    display: none;
  }
}

.gm-mobile-submenu-style-slider {
  .gm-grid-container {
    overflow: hidden;
    position: absolute;
  }

  .gm-navbar-nav .gm-dropdown > .gm-dropdown-menu-wrapper {
    top: 0;
    position: absolute;
    left: 100%;
    width: 100%;
    min-height: 100%;
    z-index: 4;
    transition: transform ease-out 0.43s;
  }

  &.gm-navigation-drawer--open .gm-navbar-nav .gm-dropdown:not(.gm-open) > .gm-dropdown-menu-wrapper {
    max-height: 1em;
    overflow: hidden;
  }

  &.gm-navigation-drawer--open .gm-navbar-nav .gm-dropdown > .gm-dropdown-menu-wrapper {
    display: block;
  }

  &.gm-navigation-drawer--open.gm-transition-work .gm-navbar-nav .gm-menu-item {
    display: block;
  }

  .gm-dropdown-menu-title {
    display: flex;
    position: relative;
    top: 0;
    width: 100%;
    height: 50px;
    padding: 0 15px;

    .gm-caret {
      top: auto;
      position: absolute;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .gm-navbar-nav .gm-dropdown.gm-open > .gm-dropdown-menu-wrapper {
    transform: translate3d(-100%, 0, 0);
  }
}

.gm-burger {
  transition: margin cubic-bezier(0.7, 0, 0.3, 1) 0.2s;
}

.gm-anchor,
.gm-burger,
.gm-search,
.gm-menu-btn,
.gm-minicart {
  -webkit-tap-highlight-color: transparent;
}

.gm-anchor,
.gm-anchor:active,
.gm-anchor:focus {
  outline: none;
}

.gm-navbar.gm-navbar--align-left .gm-main-menu-wrapper.ps > .ps__rail-y {
  left: -6px !important;
}

.gm-menu-btn--text {
  margin: 0;
  padding: 0;
  text-indent: 0;
}
