.gm-navbar--with-reset div,
.gm-navbar--with-reset nav,
.gm-navbar--with-reset ul,
.gm-navbar--with-reset li {
  float: unset;
  width: unset;
}

.gm-navbar--with-reset li {
  margin: unset;
}

.gm-navbar .wpml-ls {
  width: auto;
  max-width: max-content;
}
