.gm-navbar--with-reset div,
.gm-navbar--with-reset nav,
.gm-navbar--with-reset ul,
.gm-navbar--with-reset li {
  float: unset;
  width: unset;
}

.gm-navbar--with-reset li {
  margin: unset;
}

.gm-navbar .wpml-ls {
  width: auto;
  max-width: max-content;
}

.gm-caret,
.gm-toolbar-right,
.gm-toolbar-left,
.gm-menu-item__txt-wrapper,
.gm-mobile-menu-container,
.gm-mega-menu__item__title {
  margin: 0;
}

nav#gm-main-menu {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

nav ul.gm-navbar-nav > li {
  display: block;
}

/* Woo Mini-cart style fix */
.gm-navbar .gm-main-menu-wrapper .gm-minicart-dropdown {
  .thumbnail {
    position: static;
    margin: 0;
  }

  h3 {
    color: inherit;
  }

  .woocommerce-mini-cart-item {
    border-bottom: none;
  }

  .mini_cart_item .quantity {
    color: inherit;
  }
}

/* Divi integration style fix */
.et-l--header .gm-navbar .gm-minicart ul,
#gm-main-menu > ul.gm-navbar-nav,
.gm-dropdown-menu-wrapper > ul.gm-dropdown-menu {
  list-style-type: none;
  padding: 0;
  line-height: inherit;
}

/* Divi fix for Woo ONSALE badge CSS conflict */
.et_divi_theme.woocommerce span.onsale,
.et_divi_theme.woocommerce-page span.onsale {
  z-index: 1;
}

/* animation trasition fix */
.gm-logo img,
.gm-menu-item__icon,
.gm-badge,
.gm-navbar > .gm-padding,
.gm-navbar-nav .gm-dropdown-menu-wrapper,
.gm-dropdown-hover-style-shift-right .gm-dropdown-menu .gm-anchor .gm-menu-item__txt-wrapper {
  backface-visibility: hidden !important;
}

/* fix iOS bug when use background-size: cover; & background-position: fixed; Together */
@supports (-webkit-touch-callout: inherit) {
  .gm-navbar ~ .gm-main-menu-wrapper {
    background-attachment: scroll !important;
  }
}
