/************************************
GROOVY TOOLBAR
*************************************/

.gm-navbar {
  .gm-toolbar {
    position: relative;
    transition: all linear 0.2s;
    transition-property: background-color, opacity;
  }

  .gm-toolbar-left,
  .gm-toolbar-right {
    display: flex;
  }

  .gm-block-container {
    display: block;
  }

  .gm-toolbar-contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    a {
      color: inherit !important;
    }
  }

  .gm-toolbar-socials-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -12px !important;
    margin-right: -12px !important;
  }

  .gm-toolbar-socials-list .gm-toolbar-socials-list__item {
    margin-bottom: 0;
    padding-left: 12px;
    padding-right: 12px;
  }

  .gm-toolbar-social-link {
    position: relative;
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    transition: color 0.2s ease;

    .fa {
      line-height: 38px;
    }

    span {
      padding-left: 4px;
    }
  }

  .gm-toolbar-email,
  .gm-toolbar-phone {
    margin-right: 15px;
    display: flex;
    align-items: center;
    line-height: 38px;

    span {
      margin-right: 5px;
    }
  }
}

.gm-navbar--style-4 .gm-toolbar .gm-toolbar-social-link > span,
.gm-navbar--style-3 .gm-toolbar .gm-toolbar-social-link > span,
.gm-navbar--style-5 .gm-toolbar .gm-toolbar-social-link > span {
  display: none;
}

/* ----------------------------------
   Toolbar Menu: Main CSS Styles
 ------------------------------------ */
.gm-toolbar-nav-container {
  padding: 0;
  margin: 0 16px;
  border: 0;
  width: auto;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;

  ul,
  li {
    list-style: none;
    margin: 0 0 0 0;
    padding: 0;
  }

  & > ul > li {
    margin-left: 2px;
    margin-right: 2px;
  }

  ul {
    position: relative;
  }

  ul li {
    min-height: 1px;
    vertical-align: middle;
    position: relative;
  }

  ul li.hover,
  ul li:hover {
    z-index: 100109;
    cursor: default;
  }

  ul ul {
    visibility: hidden;
    position: absolute;
    padding: 0;
    top: 100%;
    left: 0;
    z-index: 100108;
    width: 100%;
  }

  ul ul ul {
    top: 0;
    left: 99.8%;
    width: 170px;
    padding: 0;
  }

  ul li:hover > ul {
    visibility: visible;
  }

  ul ul {
    bottom: 0;
    left: 0;
  }

  ul ul {
    margin-top: 0;
  }

  ul ul li {
    font-weight: normal;
  }

  a {
    display: block;
    line-height: 1em;
    text-decoration: none;
  }

  & > ul {
    display: flex;
  }

  & > ul > li.menu-item {
    margin: 0 2px;
  }

  &::after,
  ul::after {
    content: '';
    display: block;
    clear: both;
  }

  /* TOP menu link style */
  a {
    color: rgba(104, 104, 104, 1);
    padding: 0 8px;
  }

  /* SUB menu link style */
  ul ul a {
    color: rgba(104, 104, 104, 1);
    border: 0 none;
    line-height: 150%;
    padding: 8px 20px;
    backface-visibility: hidden;
  }

  /* TOP menu link Hover style */
  ul li:hover > a,
  ul li.active > a {
    color: rgba(104, 104, 104, 1);
  }

  /* SUB menu link Hover style */
  ul ul li:hover > a {
    color: rgba(104, 104, 104, 1);
  }

  /* SUB menu List style */
  ul ul {
    text-transform: none;
    min-width: 50px;
    backface-visibility: hidden;
  }

  ul ul li {
    position: relative;
  }

  ul ul li > a::before {
    position: absolute;
    left: 15px;
    display: inline-block;
    visibility: hidden;
    content: "ï…¸";
    transition: all 0.15s ease;
    transform: translateX(0);
    opacity: 0;
    font: normal normal normal 16px/1 FontAwesome;
    font-size: inherit;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: auto;
  }

  ul ul li.menu-item-has-children > a::after {
    content: "ï„…";
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -8px;
    font: normal normal normal 14px/1 FontAwesome;
    -webkit-font-smoothing: antialiased;
    text-rendering: auto;
    font-size: inherit;
  }

  ul li.last ul {
    left: auto;
    right: 0;
  }

  ul li.last ul ul {
    left: auto;
    right: 99.5%;
  }

  & > ul > li > a {
    line-height: 24px;
  }
}

.gm-navbar .gm-toolbar-nav .menu-item,
.gm-navbar #gm-toolbar .gm-toolbar-nav-container ul {
  padding: 0;
}
